$background-color: #8addea;
$primary-gray: #edf1f2;
$white: #fcfcfc;

html {
	font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	border: 0;
	margin: 0;
}

.header {
	background-color: $background-color;
	color: $primary-gray;
	text-align: center;
	padding: 1rem;
	border-bottom: 0.3rem solid $primary-gray;

}

.footer {
	background-color: $background-color;
	color: $primary-gray;
	text-align: center;
	padding: 1rem;
	border-top: 0.3rem solid $primary-gray;
}